.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 60px;
    background-color: rgba(10, 93, 27, 0.803);
    color: white;
    font-weight: 700;
}
.center{
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.center li{
    list-style: none;
}
.center li:hover{
    color: lightgreen;
    cursor: pointer;
}
.center li:active{
    color: lightgreen;
    cursor: pointer;
}
.res{
    color: lightgreen;
}